/* ==========================================================================
   Navigation
   ========================================================================== */

#navigation {}

.nav-button {
  position: fixed;
  top: 0;
  margin: 1em;
  z-index: 200;
  &#home-button {
    left: 0;
  }
  &#menu-button {
    right: 0;
  }
  a {
    display: block;
    height: 1.5em;
    margin-bottom: 1em;
    padding: 0.5em 1.25em;
    border: 1px solid #c2c7cc;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75em;
    line-height: 1.666em;
    text-shadow: none;
    color: #8a9199;
    cursor: pointer;
    background: #fff;
    -webkit-transition: color, border ease 0.3s;
    transition: color, border ease 0.3s;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    &:hover, &:focus {
      color: #f26a3d;
      border-color: #f26a3d;
    }
  }
}

.cover-active .nav-button a {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
  background: transparent;
  &:hover, &:focus {
    color: #fff;
    border-color: #fff;
  }
}

.nav-button a i {
  display: inline-block;
  color: inherit;
  &:before {
    position: relative;
    width: auto;
    top: -2px;
    margin: auto;
    font-size: 0.625em;
    line-height: 1.6em;
  }
}