/* ==========================================================================
   Reading Progress
   ========================================================================== */

.progress-container {
  position: fixed;
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
  z-index: 1000;
  background: transparent;
  -webkit-transition: opacity ease-out 1s;
  transition: opacity ease-out 1s;
  &.ready {
    opacity: 0.2;
  }
}

.progress-bar {
  display: block;
  width: 0;
  height: 1px;
  background: #f26a3d;
  box-shadow: 0 0 1px #f26a3d, 0 0 3px #f26a3d;
}